version: '3.7'
services:
  gusion:
    environment:
      - PYTHONUNBUFFERED=1
    build:
      context: .
      dockerfile: Dockerfile
    command: gunicorn --bind 0.0.0.0:5000 server:server
    ports:
      - 5000:5000
    container_name: "gusion"
    image: "gusion:latest"
    network_mode: "bridge"
    # volumes:
    #   - "$PWD:/app"